* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #202A3F;
}

header {
  width: 100%;
  min-width: 320px;
  padding: 15px 0;
  text-align: center;
  font-size: 1.7rem;
  color: white;
  background-color: #06060A;
}

header h1{
  margin-bottom: 10px;
}

main {
  min-width: 320px;
  max-width: 1100px;
  margin: 0 auto;
  height: auto;
  padding: 50px 0;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, 510px);
  grid-template-rows: 2fr 2fr;
  gap: 50px;
}

.figuras-geometricas {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #CBC8E8;
  border-radius: 15px;
}

.figuras-geometricas h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #06060A ;
  margin-bottom: 20px;
}

.figuras-geometricas img {
  width: 80px;
  margin: 10px auto 30px;
}

.figuras-geometricas form {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.figuras-geometricas form label {
  font-size: 1.7rem;
  color: #06060A;
}

.figuras-geometricas form input {
  height: 30px;
  padding-left: 7px;
  margin: 10px 0;
  border: 1px solid #202A3F;
  border-radius: 4px;
  outline: none;
}

.figuras-geometricas form input:focus {
  border: 2px solid #202A3F;;
}

.figuras-geometricas form input:last-child {
  height: 50px;
  font-size: 1.6rem;
}

.figuras-geometricas form button {
  width: 170px;
  height: 40px;
  margin: 5px 5px;
  border: none;
  border-radius: 5px;
  background-color: #202A3F;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}

.isotriangulo-container form button {
  height: 40px;
}

.figuras-geometricas form button:hover {
  background-color: #202a3fee;
  color: rgba(255, 255, 255, 0.856);
}

@media (max-width: 520px) {
  main {
    grid-template-columns: minmax(300px, 400px);
    padding: 50px 10px;
  }
}